* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

/* header styling */
.header-container {
    width: 100%;
    background: linear-gradient(90deg, #052f5b, #00bfff);
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-container nav {
    display: flex;
    gap: 20px;
}

.header-container nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.header-container nav a:hover {
    color: #333;
}


/* login form styling */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 9px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form button {
    width: 100%;
    padding: 15px;
    background-color: #052f5b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container form button:hover {
    background-color: #333;
}

.login-container p {
    margin-top: 15px;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/* footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #052f5b, #00bfff);
    color: #fff;
    text-align: center;
    padding: 15px;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

footer .social-icons a:hover {
    color: #333;
}